@use "button";
@forward "landingPage";
@forward "selectAddName";
@forward "play";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 255, 255, 0.339);
  font-family: Inter, sans-serif;
}
.App {
  height: 100vh;
  .nameExit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    .headerName {
      background-color: aqua;
      border-bottom: 5px solid rgb(150, 30, 30);
      border-left: 5px solid rgb(9, 197, 9);
      border-right: 5px solid rgb(0, 0, 159);
      display: flex;
      width: 400px;
      text-align: center;
      align-items: center;
      justify-content: space-evenly;

      h1:first-child {
        color: rgb(86, 86, 86);
        padding-left: 5px;
      }
      h1:last-child {
        text-transform: uppercase;
        color: rgb(150, 30, 30);
      }
    }
    a {
      background-color: rgba(232, 16, 16, 0.551);
      padding: 10px;
      text-decoration: none;
      color: black;
      &:hover {
        color: white;
        // border-radius: 50%;

        background-color: rgb(232, 16, 16);
      }
    }
  }
}
